body {background-color: pink;}

table {background-color: rgba(235, 208, 217, 0.584);}

.table td {text-align:center; align-content: center;}

.table td:first-child, .table th:first-child {text-align: left;}

.P1 {margin-bottom: 20px;}

.P2 {margin-bottom: 20px;}

.P3 {margin-bottom: 20px;}

.mm-header {
    position: relative;
    background-image: url(images/header-bg.png);
}

.mm-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
        justify-content: center;
}

.is-compact .mm-logo row {
    min-height: auto;
}

.mm-logo {
    background: url(images/logo.png) 50% no-repeat;
    background-size: cover;
    height: 150px;
    width: 200px;
    margin: auto auto 10px;
    margin-left: 10px;
}

.is-compact .mm-logo {
    height: 50px;
    width: 100px;
    margin-top: 7px;
}

.mdl-card {
    height: auto;
    display: flex;
    flex-direction: column;
  }

.mdl-card > * {
    height: auto;
  }

.mdl-card .mdl-card__supporting-text {
    margin: 40px;
    flex-grow: 1;
    padding: 0;
    color: inherit;
    width: calc(100% - 80px);
  }

.mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }

.mdl-layout__content section:not(:last-of-type) {
    position: relative;
    margin-bottom: 48px;
}